// Base
$base-background = #f6z
$base-font-size = 14px
$base-font-size-r = 12px
$base-font-color = #C0C0C0
$base-line-height = 1.5
$base-font-family = 'Helvetica Neue', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Microsoft Yahei', sans-serif
$base-code-font-family = 'Source Code Pro', Consolas, 'Liberation Mono', Courier, monospace, serif
$base-link-color = #4081C1
$base-link-color-hover = #258fb8

$border-color = #404040

$background-color = #fcfcfc

// General colors
$highlight-title = #399c9c

// Code Color
$highlight-background = #f00
$highlight-current-line = #393939
$highlight-selection = #c5c8c6
$highlight-foreground = #839496
$highlight-comment = #999999

$highlight-func-keyword = #80cbc4
$highlight-red = #dc322f
$highlight-orange = #cb4b16
$highlight-yellow = #b58900
$highlight-green = #2aa198
$highlight-aqua = #d33682
$highlight-blue = #268bd2
$highlight-purple = #6c71c4

$color-green = #399c9c
$color-green-hover = #0ff

$padding-left-right = 50px
$margin-left-right = 50px

$html-bg-color = #2B2D42
$content-bg-color = #181818

// $global-padding: 60px
